body {
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: dodgerblue;
}
.container {
  width: 100%;
  max-width: 400px;
}

.login-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  text-align: left;
  margin-bottom: 8px;
  color: #555;
}

.login-card input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
}

.login-card button {
  background-color: rgb(232, 71, 12);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
  width: 50%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 35px;
  cursor: pointer;
}

img {
  width: 30px;
  height: auto;
}
